<!DOCTYPE html>
<meta charset="utf-8">
<style>

text {
  font: 10px sans-serif;
}

</style>
<body>
  <%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>
  <script src="http://jairodiaz.co/rainbowvis.js"></script>
  <%= javascript_include_tag "display" %>
</body>
