<h1>Page Rank for Open Access Documents for Medicine</h1>
<br/>

<div id='svg'>
  <iframe src="/display" style="height: 695px;width: 695px;">
  </iframe>
</div>

<div id='table' style="display: block; position: absolute; top: 60px; left: 740px; width: 388px; height: 458px; z-index: 2; background-image: none; background-position: initial initial; background-repeat: initial initial;">
  <h2> List of documents </h2>
  <br />
  <table>
    <tr>
      <th>Publication ID</th>
      <th>Title</th>
      <th>PageRank</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.pub_med_id %></td>
      <td> <a href="<%= article.url %>"><%= article.title %></a> </td>
      <td><%= article.citations_page_rank %></td>
    </tr>
  <% end %>
  </table>
</div>
