
<br/>

<div class="row">
  <div class="span8">
    <div id='svg'>
      <iframe src="/display" style="height: 695px;width: 695px;">
      </iframe>
    </div>
  </div>
  <div class="span4">

    <table class="table table-hover table-striped">
      <tr>
        <th>Publication ID</th>
        <th>Title</th>
        <th>PageRank</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @articles.each do |article| %>
        <tr>
          <td><%= article.pub_med_id %></td>
          <td> <a href="<%= article.url %>"><%= article.title %></a> </td>
          <td><%= article.citations_page_rank %></td>
        </tr>
      <% end %>
    </table>

 </div>
  <!-- <div class="span4">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div> -->
</div>
