<div style="margin:auto;width:400px">
  <h1 style="text-align:center;">GitHub</h1>
  <h3 style="text-align:center;"><a href='https://github.com/ejyy/opagerank'>https://github.com/ejyy/opagerank</a></h3>
  <h3 style="text-align:center;"><a href='https://github.com/jairodiaz/openjournal'>https://github.com/jairodiaz/openjournal</a></h3>
</div>
