
<div style="margin:auto;width:400px">
  <h1 style="text-align:center;">GitHub</h1>
  <h3 style="text-align:center;"><%= link_to 'https://github.com/ejyy/opagerank' %></h3>
  <h3 style="text-align:center;"><%= link_to 'https://github.com/jairodiaz/openjournal' %></h3>
</div>
