
<div>
Journal Revue Electronique Francophone d'Informatique Graphique
ISSN/EISSN: 19543190
Publisher: Association Française d'Informatique Graphique
Subject: Computer Science
Country: France Language: French
Start year 2007
Publication fee: No
</div>

<div>
Journal @tic : Revista d'Innovació Educativa
ISSN/EISSN: 19893477
Publisher: Universitat de València
Subject: Education
Country: Spain Language: Spanish, Catalan
Start year 2008
Publication fee: No --- Further Information
License:

</div>

<div>
Journal Cahiers d'Études du Religieux
ISSN/EISSN: 17605776
Publisher: Maison des Sciences de l'Homme
Subject: Religion
Country: France Language: French
Start year 2007
Publication fee: No --- Further Information
</div>

<div>

Journal Porticvm : Revista d'Estudis Medievals
ISSN/EISSN: 20140932
Publisher: Porticvm
Subject: History of arts
Country: Spain Language: Catalan, Spanish, French, Italian
Start year 2011
Publication fee: No --- Further Information
</div>

<div>

Journal Bulletin du Centre d’Études Médiévales d’Auxerre
ISSN/EISSN: 16235770 19543093
Publisher: Centre d'Études Médievales Auxerre
Subject: History
Country: France Language: French
Start year 2003
Publication fee: No --- Further Information
</div>

<div>

Journal Transatlantica : Revue d'Études Américaines
ISSN/EISSN: 17652766
Publisher: Association française d'études américaines
Subject: Social Sciences
Country: France Language: French, English
Start year 2001
Publication fee: No --- Further Information

</div>

<div>
Journal Revista d'Estudis Autonòmics i Federals
ISSN/EISSN: 18862632
Publisher: Institut d'Estudis Autonòmics
Subject: Political Science
Country: Spain Language: Spanish, Catalan, English, French
Start year 2005
Publication fee: No --- Further Information

</div>

<div>
Journal Balkanologie : Revue d'Ètudes Pluridisciplinaires
ISSN/EISSN: 12797952 19650582
Publisher: Association Française d'Études sur les Balkans
Subject: Multidisciplinary --- History --- Social Sciences
Country: France Language: French, English
Start year 1997

</div>

<div>

Journal Ateliers d'Anthropologie
ISSN/EISSN: 21173869
Publisher: LESC (Laboratoire d'ethnologie et de sociologie comparative, CNRS-Université Paris X)
Subject: Ethnology
Country: France Language: French
Start year 2005

</div>
