

<div style="margin:auto;width:400px">
  <h3>Upload your Endnote File</h3>

<form class="form-search">
  <div class="input-append">
    <input type="text" class="span12 search-query">
    <button type="submit" class="btn">Upload</button>
  </div>
</form>
</div>



